<div class="page-title">
  <h4>История заказов</h4>
  <button (click)="isFilterVisible = !isFilterVisible" [ngClass]="{
      'active': isFilterVisible,
      'red': isFiltered()
    }" class="btn btn-small" data-tooltip="Открыть фильтр" data-position="left" #tooltip>
    <i class="material-icons">filter_list</i>
  </button>
</div>

<app-history-filter *ngIf="isFilterVisible"  (filterEvent)="applyFilter($event)"></app-history-filter>

<div *ngIf="!reloading; else reload">
  <div *ngIf="orders.length > 0; else noorder">
    <app-history-list [orders]="orders"></app-history-list>
    <div class="center mb2">
      <button 
        class="btn waves-effect grey darken-1 btn-small" 
        (click)="loadMore()"
        *ngIf="!loading; else loader"
        [disabled]="noMoreOrders"
      >Загрузить еще</button>
      <ng-template #loader>
        <div class="center">
          <app-loader></app-loader>
        </div>
      </ng-template>
    </div>
  </div>
  <ng-template #noorder>
    <div class="center">
      You have no orders yet.
    </div>
  </ng-template>
</div>
<ng-template #reload>
  <div class="center">
    <app-loader></app-loader>
  </div>
</ng-template>
